* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background-color:rgb(161, 108, 211);
    color:rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}
header h1{
    margin: 0;

}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
form {
    width: 40%;
    margin: 50px auto;
    background-color: rgba(164, 72, 250, 0.514);
    text-align: center;
    border-radius: 10px;
    border: 3px dashed whitesmoke;
}
h3{
    font-size: 30px;
    font-style: italic;
    color: rgb(161, 108, 211);
    
}
input[type="tel"]{
    width: 50%;
}
label{
    padding: 4px;
}
input{
    /* input é inline */
    border: none;
    background-color: rgb(255, 255, 255);
    width: 70%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
/*input[type="date"]{
    
}*/
input[type="submit"]{
    /* background: linear-gradient(to top right,chocolate 30%, whitesmoke); */
    background-color:rgb(255, 255, 255);
    margin: 10px auto;
    width: 50%;
    /*display: block;
    margin: auto;   isso seria para deixar só o botao "cadastrar" no centro */
}
#nome, #e_mail{
    text-align: center;
}
/* fieldset[id="conjunto2"]{
    width: 50px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
}  nao precisa mais, agr tenho que tentar colocar no meiao sabe*/
fieldset{
    border: 3px dashed rgb(255, 255, 255);
    padding: 5px;
    width: 45%;
    height: 170px;
    display: inline-block;
    vertical-align: top;
}
footer{
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: rgb(161, 108, 211);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 5px 10px;
    position: fixed;
}
a{
    text-decoration: none;
    color: white;
}